.icon-file { background: url('icons/file.png') no-repeat center center; }

.icon-excel { background: url('icons/excel.png') no-repeat center center; }

.icon-mail {
    background: url('icons/mailbo.png') no-repeat center center;
}
.icon-weixin {
    background: url('icons/weixin.png') no-repeat center center;
}
.icon-AuditPass { background: url('icons/audit.png') no-repeat center center; }

.icon-AuditDeny { background: url('icons/cancel.png') no-repeat center center; }

.icon-redo { background: url('icons/redo.png') no-repeat center center; }

.icon-validate {
    background: url('icons/ok.png') no-repeat center center;
}

.icon-pass {
    background: url('icons/audit.png') no-repeat center center;
}

.icon-edit {
    background: url('icons/a_none.png') no-repeat center center;
}

.icon-delete {
    background: url('icons/cancel.png') no-repeat center center;
}
.icon-lock {
    background: url('icons/a_end.png') no-repeat center center;
}

.icon-switch { background: url('icons/switch.png') no-repeat center center; }

.icon-pay { background: url('icons/pay.png') no-repeat center center; }

.icon_a_none { background: url('icons/a_none.png') no-repeat center center; }

.icon_a_again {
    background: url('icons/a_again.png') no-repeat center center;
}
.icon_a_pullback {
    background: url('icons/a_pullback.png') no-repeat center center;
}

.icon_a_submit { background: url('icons/a_submit.png') no-repeat center center; }

.icon_a_back { background: url('icons/export.png') no-repeat center center; }

.icon_a_deny { background: url('icons/a_deny.png') no-repeat center center; }

.icon_a_pass { background: url('icons/a_pass.png') no-repeat center center; }

.icon_a_end { background: url('icons/a_end.png') no-repeat center center; }

.icon-self { background: url('icons/self.png') no-repeat center center; }

.icon-self-left { background: url('icons/self_left.png') no-repeat center center; }

.icon-cus { background: url('icons/cus.png') no-repeat center center; }

.icon-join { background: url('icons/join.png') no-repeat center center; }

.icon-left { background: url('icons/left.png') no-repeat center center; }

.icon-trans { background: url('icons/switch.png') no-repeat center center; }

.icon-project { background: url('icons/a_submit.png') no-repeat center center; }

.icon-enable { background: url('icons/enable.png') no-repeat center center; }

.icon-disable { background: url('icons/disable.png') no-repeat center center; }

.icon_delete {
    background: url('icons/cancel.png') no-repeat center center;
}
.icon-delete {
    background: url('icons/cancel.png') no-repeat center center;
}
.icon-discard {
    background: url('icons/discard.png') no-repeat center center;
}
.icon-reset {
    background: url('icons/reset.png') no-repeat center center;
}
.icon-flush {
    background: url('icons/flush.png') no-repeat center center;
}
.icon-cmd {
    background: url('icons/cmd.png') no-repeat center center;
}
.icon-code {
    background: url('icons/code.png') no-repeat center center;
}
.icon-check {
    background: url('icons/check.png') no-repeat center center;
}
.icon-item {
    background: url('icons/item.png') no-repeat center center;
}
.icon-options {
    background: url('icons/options.png') no-repeat center center;
}
.icon-export { background: url('icons/export.png') no-repeat center center; }
.icon-post { background: url('icons/cus.png') no-repeat center center; }
.icon-global {
    background: url('icons/root.png') no-repeat center center;
}
.icon-web {
    background: url('icons/global.png') no-repeat center center;
}
.icon-user {
    background: url('icons/user.png') no-repeat center center;
}
.icon-bm { background: url('icons/bm.png') no-repeat center center; }
/***/
.icon-start { background: url('icons/start.png') no-repeat center center; }
.icon-end { background: url('icons/end.png') no-repeat center center; }
.icon-pause {
    background: url('icons/pause.png') no-repeat center center;
}
.icon-area {
    background: url('icons/area.png') no-repeat center center;
}
.icon-com {
    background: url('icons/com.png') no-repeat center center;
}
.icon-tree-folder {
    background: url('icons/t_folder.png') no-repeat center center;
}
.icon-tree-page {
    background: url('icons/t_page.png') no-repeat center center;
}
.icon-tree-action {
    background: url('icons/t_action.png') no-repeat center center;
}
.icon-tree-button {
    background: url('icons/t_button.png') no-repeat center center;
}

.icon-prj-plan {
    background: url('icons/prj_plan.png') no-repeat center center;
}
.icon-prj-build {
    background: url('icons/prj_build.png') no-repeat center center;
}
.icon-prj-trace {
    background: url('icons/prj_opera.png') no-repeat center center;
}
.icon-prj-neg {
    background: url('icons/prj_neg.png') no-repeat center center;
}
.icon-prj-con {
    background: url('icons/prj_con.png') no-repeat center center;
}
.icon-prj-clear {
    background: url('icons/prj_clear.png') no-repeat center center;
}