#info {
    border-color: #95B8E7;
    border-style: solid;
    border-width: 1px 1px 5px 1px;
    margin: 0;
    overflow: hidden;
}

.my_panel {
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto
}

.img {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: middle;
}

.suojin {
    text-indent: 2em;
    padding: 2px;
    margin: 0;
}

.memo_html {
    text-indent: 2em;
    padding: 2px;
    margin: 0;
}

.dlgPanel {
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.content_body {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin-top: 0;
    overflow: hidden;
}

#__content_body__ {
    position: absolute;
    visibility: visible;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#workSapce {
    position: absolute;
    visibility: visible;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: black 0 solid;
    height: 100%;
    overflow: hidden;
    width: 100%;
}


#__loading__ {
    position: absolute;
    visibility: visible;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

.busy_body {
    margin-left: -60px;
    margin-top: -9px;
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 12px;
    height: 16px;
    text-wrap: none;
    width: 120px;
    font-size: 10px;
    background-color: white;
    border: 1px silver solid
}

fieldset {
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: silver;
    list-style: none;
    margin: 5px 5px 5px 0;
    padding: 5px;
    width: 98%;
    overflow: hidden;
}

legend {
    color: #302A2A;
    font: bold 12px/2 Verdana, Geneva, sans-serif;
    font-weight: bold;
    text-align: left;
    text-shadow: 2px 2px 2px rgb(88, 126, 156);
}

/*信息文本样式*/

.infoField {
    border-bottom: whitesmoke solid 1px;
    display: block;
    margin: 4px 4px 4px 10px;
    width: 100%;
}

.infoLabel {
    display: inline-block;
    height: 20px;
    padding: 0;
    text-align: left;
    vertical-align: top;
    width: 120px;
}

.infoValue {
    display: inline-block;
    padding: 0;
    vertical-align: top;
}

.infoField_s {
    display: inline-block;
    margin: 4px 4px 4px 10px;
    width: 320px;
}

.infoField_m {
    display: inline-block;
    margin: 4px 4px 4px 10px;
    width: 656px;
}

.infoValue_s {
    border-bottom: slategrey solid 1px;
    display: inline-block;
    height: 20px;
    padding: 0;
    vertical-align: top;
    width: 190px;
}

.infoValue_m {
    border-bottom: slategrey solid 1px;
    display: inline-block;
    height: 20px;
    padding: 0;
    vertical-align: top;
    width: 528px;
}

.red {
    color: red;
}

/*录入节点样式*/

.formRegion {
    margin: 0;
    overflow: hidden;
    padding: 0;
    display: block;
}

.inputField {
    display: inline-block;
    margin: 5px;
    width: 480px;
}

.inputField_L {
    display: inline-block;
    margin: 5px;
    width: 960px;
}

.inputField_ML {
    display: inline-block;
    margin: 5px;
    width: 675px;
}

.inputField2 {
    display: inline-block;
    margin: 5px;
    width: 330px;
}


.inputField_a {
    display: block;
    padding: 5px;
    width: 100%;
}

.input_image {
    position: relative;
    display: inline-block;
    /*margin: 5px 20px 5px 5px;
    padding: 5px;
    width: 448px;*/
    height: 215px;
    width: 350px;
    border: 1px slategray solid;
}

    .input_image img {
        position: absolute;
        left: 0;
        top: 0;
        max-height: 215px;
        max-width: 350px;
        height: 100%;
        border: 0 slategray solid;
    }

.inputRegion {
    display: inline-block;
    padding: 0;
    vertical-align: top;
    width: 100%;
}

.inputRegion2 {
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 0;
    vertical-align: top;
    width: 280px;
}

.inputRegion3 {
    display: inline;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 0;
}

.queryLabel {
    padding-left: 3px;
    vertical-align: middle;
    font-size: 12px;
}

.inputLabel_a {
    display: inline;
    height: 20px;
    padding: 0;
    text-align: left;
}


.inputLabel {
    display: inline-block;
    height: 20px;
    padding: 0;
    text-align: left;
    vertical-align: top;
    width: 100px;
}

.inputValue_ML {
    display: inline-block;
    font-size: 12px;
    padding: 0;
    vertical-align: top;
    width: 545px;
}

.inputValue {
    display: inline-block;
    font-size: 12px;
    padding: 0;
    vertical-align: top;
    width: 350px;
}

.inputField_2c {
    display: inline-block;
    margin: 5px;
    width: 965px;
}

.inputValue_2c {
    display: inline-block;
    font-size: 12px;
    margin-bottom: 4px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
    padding: 2px;
    vertical-align: top;
    width: 838px;
}

/*.inputValue_2c div {
        border: 1px silver solid;
        padding: 4px;
    }*/

.inputValue2 {
    display: inline-block;
    font-size: 12px;
    padding: 0;
    vertical-align: top;
    width: 200px;
}

.inputValue_1 {
    display: inline-block;
    font-size: 12px;
    padding: 0;
    vertical-align: top;
    width: 338px;
}

.inputValue_2 {
    display: inline-block;
    font-size: 12px;
    padding: 0;
    vertical-align: top;
    width: 326px;
}

.inputValue_3 {
    display: inline-block;
    font-size: 12px;
    padding: 0;
    vertical-align: top;
    width: 314px;
}

.inputValue_4 {
    display: inline-block;
    font-size: 12px;
    padding: 0;
    vertical-align: top;
    width: 302px;
}

.inputValue_S {
    display: inline-block;
    font-size: 12px;
    padding: 0;
    vertical-align: top;
    width: 160px;
}

.inputValue_SS {
    display: inline-block;
    font-size: 12px;
    padding: 0;
    vertical-align: top;
    width: 120px;
}

.inputValue_SSS {
    display: inline-block;
    font-size: 12px;
    padding: 0;
    vertical-align: top;
    width: 90px;
}

.inputValue_SSSS {
    display: inline-block;
    font-size: 12px;
    padding: 0;
    vertical-align: top;
    width: 70px;
}

.inputValue_M {
    display: inline-block;
    font-size: 12px;
    padding: 0;
    vertical-align: top;
    width: 240px;
}

.inputValue_S_2 {
    display: inline-block;
    font-size: 12px;
    padding: 0;
    vertical-align: top;
    width: 138px;
}


.inputValue_ML {
    display: inline-block;
    font-size: 12px;
    margin-bottom: 4px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
    padding: 2px;
    vertical-align: top;
    width: 942px;
}

.inputMemo {
    display: inline-block;
    font-size: 12px;
    height: 40px;
    margin-bottom: 4px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
    padding: 2px;
    vertical-align: top;
    width: 942px;
}

.inputValue_Memo {
    display: inline-block;
    font-size: 12px;
    height: 160px;
    margin-bottom: 4px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
    padding: 2px;
    vertical-align: top;
    width: 942px;
}

.inputValue_Rich {
    height: 360px;
    margin: 0;
    padding: 0;
    width: 945px;
}

.inputValue_Rich_S {
    height: 360px;
    margin: 0;
    padding: 0;
    width: 448px;
}

.inputValue_Rich_b {
    display: block;
    height: 460px;
    margin: 0;
    padding: 0;
    vertical-align: top;
    width: 966px;
    overflow: hidden;
}

.inputValue_Rich_hb {
    display: block;
    height: 960px;
    margin: 0;
    padding: 0;
    vertical-align: top;
    width: 966px;
    overflow: hidden;
}

.inputValue_Memo_S {
    display: inline-block;
    font-size: 12px;
    height: 60px;
    margin-bottom: 4px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
    padding: 2px;
    vertical-align: top;
    width: 448px;
}

.inputValue_Memo_M {
    display: inline-block;
    font-size: 12px;
    height: 50px;
    margin-bottom: 4px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
    padding: 2px;
    vertical-align: top;
    width: 1330px;
}

.inputValue_Memo_L {
    display: inline-block;
    font-size: 12px;
    height: 50px;
    margin-bottom: 4px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
    padding: 2px;
    vertical-align: top;
    width: 1442px;
}

.inputValue_L {
    display: inline-block;
    font-size: 12px;
    padding: 0;
    vertical-align: top;
    width: 845px;
}

.inputValue_a {
    display: inline-block;
    font-size: 12px;
    padding: 0;
    vertical-align: top;
    width: 100%;
}

.inputS {
    height: 16px;
}

.inputM {
    height: 64px;
}

.inputH {
    height: 120px;
}

.inputHH {
    height: 200px;
}

.inputHH {
    height: 300px;
}

.inputHelp {
    color: red;
    display: none;
    margin-left: 104px;
}

.inputHelp2 {
    color: red;
}

.infoField_m {
    display: inline-block;
    margin: 4px 4px 4px 10px;
    width: 656px;
}

.infoValue_s {
    border-bottom: slategrey solid 1px;
    display: inline-block;
    height: 20px;
    padding: 0;
    vertical-align: top;
    width: 190px;
}

.infoValue_m {
    border-bottom: slategrey solid 1px;
    display: inline-block;
    height: 20px;
    padding: 0;
    vertical-align: top;
    width: 528px;
}

.toolbarSpace {
    border: #b0c4de solid 1px;
    display: inline;
    height: 16px;
    margin: 4px -1px 4px -1px;
    vertical-align: middle;
    width: 1px;
}

.toolbar_line {
    /*border-top: #b0c4de solid 1px;*/
    display: inline-block;
    /*margin: 2px;*/
    float:right;
    /*padding: 2px;*/
}
#pageToolbarEx {
    background-color: #07ace2;
    height: 31px;
    border-bottom: #004fb8 solid 0.6px
}
#pageToolbarEx2 {
    background-color: #07ace2;
    height: 31px;
    border-bottom: #004fb8 solid 0.6px
}
.job_message_range {
    display: block;
    padding: 5px 0 0 0;
}

.job_message_border {
    display: block;
    margin: 0 5px 5px 5px;
    border: 1px solid #d3d3d3;
}

.job_message_item {
    display: block;
    font-size: 12px;
    display: block;
    background-color: white;
    width: 100%;
    min-height: 36px;
}

.details_range {
    display: inline-block;
    padding: 3px;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 99%;
    background-repeat: no-repeat;
    background-position: right top;
}

.details_label {
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    padding: 3px 3px 3px 3px;
    border-bottom: 1px solid silver;
}


.details_number {
    display: inline-block;
    padding: 3px 3px 3px 3px;
    text-align: right;
    border-bottom: 1px solid silver;
}

.details_block {
    display: inline-block;
    margin: 0;
    width: 99%;
    border-bottom: silver solid 1px;
    padding: 3px;
}

.details_image {
    display: inline-block;
    margin: 5px 37px 5px 5px;
    padding: 5px;
    width: 448px;
    height: 252px;
    border: 1px silver solid;
    float: left
}

.details_label_s {
    display: inline;
    font-size: 13px;
    font-weight: bold;
    width: 160px;
    text-align: right;
    margin-right: 5px;
}

.details_value {
    display: inline-block;
    margin-top: 3px;
    margin-left: 3px;
    width: 98%;
    overflow-y: visible;
    overflow-x: visible
}

.details_rich_value {
    display: inline-block;
    margin-top: 3px;
    margin-left: 3px;
    width: 98%;
    overflow-y: visible;
    overflow-x: visible
}

.exIdeaYes {
    padding: 0;
    display: inline;
    min-width: 60px;
    float: left;
    color: Green;
    font-size: 24px;
}

.exIdeaNo {
    padding: 0;
    display: inline;
    min-width: 60px;
    float: left;
    color: red;
    font-size: 24px;
}
.exIdeaLeft {
    padding: 0;
    display: inline;
    min-width: 100px;
    float: left;
    color: blue;
    font-size: 24px;
}
.exIdea {
    padding: 5px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: normal;
    display: block;
    width: 100%;
    border-bottom: solid silver 1px;
    font-size: 12px;
}

.chart_body {
    display: inline-block;
    margin: 0;
}

.article_preview {
    overflow-x: hidden;
    overflow-y: auto;
    font-family: "微软雅黑", "Microsoft Yahei","宋体", arial,tahoma,sans-serif;
}

.article_title {
    font-size: 34px;
    font-weight: 400;
    line-height: 1.15;
    margin: 0 10px 0 0;
    vertical-align: sub;
    width: 99%;
    display: inline-block;
    padding: 3px;
    text-align: center;
}

.article_time {
    display: inline-block;
    margin: 0;
    width: 99%;
    text-align: center;
    padding: 6px;
    font-size: 14px;
}

.article_image {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 4px;
    padding: 0;
    border: 1px silver solid;
}

.article_content {
    font-family: "微软雅黑", "Microsoft Yahei",arial,tahoma,sans-serif;
    display: inline-block;
    margin: 0;
    width: 99%;
    text-align: left;
    overflow-x: visible;
    overflow-y: auto;
    color: #333;
    font-size: 18px;
    text-indent: 2em;
    word-wrap: break-word;
    line-height: 40px;
}

    .article_content p {
        margin: 0;
    }

    .article_content hr {
        color: #d7d7d7;
    }

.tip_block {
    font-size: 14px;
    overflow: hidden;
}

    .tip_block img {
        float: left;
        width: 32px;
        height: 32px
    }
