/src/packages
.vs
obj
bin
*.vspscc
/src/MigrationBackup
demo/
netcoreapp3.1
*.vs
/src/Program/Config
/src/Program/netcoreapp3.1
/src/Program/AddIn
/src/Program/Bin
/release
*.exe
src/Designer.Project/Agebull.EntityModel.Designer.Project_svg1kepz_wpftmp.csproj
/src/Coder/byt31
/src/Program/net5.0-windows
