/src/packages
.vs
obj
bin
*.vspscc
/src/Program/AddIn/Runtime
/src/Program/Soluctions/MarkPoint
/src/Program/Soluctions/TraceCode
/src/Program/Soluctions/Yizuan
/src/Program/AddIn/中国区IP段.txt
/src/MigrationBackup
