html, body {
    height: 100%;
    /*overflow-x: hidden;
    overflow-y: auto;*/
    width: 100%;
    overflow: hidden
}
#char_panel {
    padding: 0px;
    overflow-x: hidden;
    overflow-y: auto
}
#chart_body {
    padding: 0px;
    overflow-x: hidden;
    overflow-y: auto
}