html body {
    font-family: "Microsoft YaHei","Î¢ÈíÑÅºÚ";
    overflow: hidden;
    background: #07ace2;
    margin: 0;
    padding: 0;
}

#body {
    overflow: hidden;
    min-height: 600px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: url(/images/back.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.main_border {
    background: #ffffff;display: block; border-radius: 2.4px 2.4px 0 0; margin-left: -254px;opacity: 0.95;width: 508px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.top {
    width: 676px;
    height: 69px;
    display: inline-block;
    margin-left: -368px;
    background: url('/images/logo.png') no-repeat 0px 0px;
}


.button {
    background: #004fb8;
    border-radius: 2.4px;
    width: 286px;
    height: 40px;
    margin-left: 109px;
    margin-bottom: 26px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 0;
    text-align: center;
    border-left: 1px solid #d7d7d7;
}

.message {
    border-radius: 2.4px;
    width: 285.6px;
    height: 20px;
    margin-left: 109px;
    color: red;
    font-size: 12px;
    text-align: center;
}

.input_border {
    background: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 2.4px;
    width: 285.6px;
    height: 41.6px;
    margin-left: 109px;
    margin-top: 16px;
}

    .input_border i {
        margin-top: 14px;
        margin-left: 12px;
        width: 14px;
        color: #004fb8;
        height: 14px;
    }

input {
    width: 216px;
    border: 0px;
    height: 26px;
    margin-top: 6px;
    margin-left: 6px;
    border: 0;
    color: #999999;
    outline: none;
    background-color: white
}

