<!--此标记表明此文件可被设计器更新,如果不允许此操作,请删除此行代码.design by:agebull designer date:2019/4/22 11:48:23-->
<!DOCTYPE html>
<html>
<head>
    <meta name='renderer' content='webkit'/>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=21'/>
    <title>
        用户中心 > 用户 > 个人信息
    </title>
    <meta charset='utf-8'/>
    <meta name='viewport' content='width=device-width'/>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8-bom'/>
    <link rel='stylesheet' type='text/css' href='/styles/vuePage.css?v=201910001'/>
    <link rel='stylesheet' type='text/css' href='/styles/font-awesome/css/font-awesome.min.css'>
    <!--JQuery-->
    <script type='text/javascript' src='/scripts/jquery-3.3.1.min.js?v=201910001'></script>
    <!--VUE-->
    <link href='http://cdn.staticfile.org/element-ui/2.6.1/theme-chalk/index.css' rel='stylesheet'>
    <script src='http://cdn.staticfile.org/vue/2.6.10/vue.js'></script>
    <script src='http://cdn.staticfile.org/element-ui/2.6.1/index.js'></script>
    <script src='http://cdn.staticfile.org/element-ui/2.6.1/locale/zh-CN.min.js'></script>
    <!--Extend-->
    <script type='text/javascript' src='/scripts/extend/vue_ex.js?v=201910001'></script>
    <script type='text/javascript' src='/scripts/extend/core.js?v=201910001'></script>
    <script type='text/javascript' src='/scripts/extend/ajax.js?v=201910001'></script>
    <script type='text/javascript' src='/scripts/extend/ajax_vue.js?v=201910001'></script>
    <script type='text/javascript' src='/scripts/extend/extend.js?v=201910001'></script>
    <script type='text/javascript' src='/scripts/extend/type.js?v=201910001'></script>
</head>
<body>
<div id='work_space' class='tiled' v-cloak>
    <el-container style='height: 100%; width: 100%'>
        <el-header style='height: 50px; padding: 5px'>
            <div style='display: inline-block;'>
                <el-button-group>
                    <el-tooltip placement='top' effect='light'>
                        <div slot='content'>新增一条数据</div>
                        <el-button type='primary' icon='fa fa-plus' @click='doAddNew'></el-button>
                    </el-tooltip>
                    <el-tooltip placement='top' effect='light'>
                        <div slot='content'>编辑当前选行的数据</div>
                        <el-button type='primary' icon='el-icon-edit' @click='doEdit'></el-button>
                    </el-tooltip>
                    <el-tooltip placement='top' effect='light'>
                        <div slot='content'>删除当前选中的一或多行数据的数据</div>
                        <el-button type='primary' icon='fa fa-times' @click='doDelete'></el-button>
                    </el-tooltip>
                </el-button-group>
                <el-button-group>
                    <el-tooltip placement='top' effect='light'>
                        <div slot='content'>使当前选中的一或多行数据的数据成为<b>启用</b>状态</div>
                        <el-button type='primary' icon='fa fa-star' @click='doEnable'>启用</el-button>
                    </el-tooltip>
                    <el-tooltip placement='top' effect='light'>
                        <div slot='content'>使当前选中的一或多行数据的数据成为<b>禁用</b>状态</div>
                        <el-button type='primary' icon='fa fa-star-o' @click='doDisable'>禁用</el-button>
                    </el-tooltip>
                    <el-tooltip placement='top' effect='light'>
                        <div slot='content'>使当前选中的一或多行数据的数据成为<b>废弃</b>状态</div>
                        <el-button type='primary' icon='el-icon-delete' @click='doDiscard'>废弃</el-button>
                    </el-tooltip>
                    <el-tooltip placement='top' effect='light'>
                        <div slot='content'>使当前选中的一或多行数据的数据<b>还原</b>为草稿状态,使之可编辑</div>
                        <el-button type='primary' icon='fa fa-pencil' @click='doReset'>还原</el-button>
                    </el-tooltip>
                </el-button-group>
            </div>
            <div style='display: inline-block; float: right'>
                <el-input placeholder='请输入搜索内容' v-model='query.keyWords' class='input-with-select'>
                    <el-select v-model='query.dataState' slot='prepend' placeholder='数据状态' style='width: 130px;'>
                        <el-option value='256' label='-'></el-option>
                        <el-option value='0' label='草稿'></el-option>
                        <el-option value='1' label='启用'></el-option>
                        <el-option value='2' label='停用'></el-option>
                        <el-option value='14' label='查看'></el-option>
                        <el-option value='15' label='锁定'></el-option>
                        <el-option value='16' label='废弃'></el-option>
                        <el-option value='255' label='删除'></el-option>
                    </el-select>
                    <el-button slot='append' icon='el-icon-search'></el-button>
                </el-input>
            </div>
        </el-header>
        <el-main style='margin: 0; padding: 0'>
            <template>
                <!-- Grid -->
                <el-table :data='list.rows'
                          border
                          ref='dataTable'
                          highlight-current-row
                          @row-dblclick='dblclick'
                          @current-change='currentRowChange'
                          @selection-change='selectionRowChange'
                          style='width: 100%'>
                    <el-table-column type='selection'
                                     align='center'
                                     header-align='center'>
                    </el-table-column><el-table-column label='状态'
                                     align='center'
                                     header-align='center'
                                     width='50'>
                        <template slot-scope='scope'>
                            <i :class='scope.row.dataState | dataStateIcon'></i>
                        </template>
                    </el-table-column>
                    <el-table-column prop='NickName'
                                     header-align='center'
                                     label='昵称'>
                    </el-table-column>
                    <el-table-column prop='IdCard'
                                     header-align='center'
                                     label='身份证号'>
                    </el-table-column>
                    <el-table-column prop='certType'
                                     header-align='center'
                                     label='证件类型'>
                    </el-table-column>
                    <el-table-column prop='RealName'
                                     header-align='center'
                                     label='真实姓名'>
                    </el-table-column>
                    <el-table-column prop='AvatarUrl'
                                     header-align='center'
                                     label='头像'>
                    </el-table-column>
                    <el-table-column prop='phoneNumber'
                                     header-align='center'
                                     label='手机号'>
                    </el-table-column>
                    <el-table-column prop='birthday'
                                     header-align='center'
                                     label='生日'>
                        <template slot-scope='scope'>
                            <span style='margin-left: 10px'>
                                {{scope.row.birthday | formatDate}}
                            </span>
                        </template>
                    </el-table-column>
                    <el-table-column prop='nation'
                                     header-align='center'
                                     label='民族'>
                    </el-table-column>
                    <el-table-column prop='tel'
                                     header-align='center'
                                     label='电话'>
                    </el-table-column>
                    <el-table-column prop='email'
                                     header-align='center'
                                     label='电子邮件'>
                    </el-table-column>
                    <el-table-column prop='homeAddress'
                                     header-align='center'
                                     label='地址'>
                    </el-table-column>
                </el-table>
            </template>
        </el-main>
        <el-footer>
            <el-pagination @size-change='pageChange'
                           @current-change='pageChange'
                           background
                           :current-page='list.page'
                           :page-sizes='[20, 30, 50, 100]'
                           :page-size='list.pageSize'
                           layout='total, sizes, prev, pager, next, jumper'
                           :total='list.total'>
            </el-pagination>
        </el-footer>
    </el-container>
    <!-- Form -->
    
     <el-dialog title='个人信息编辑'
                :visible.sync='form.visible'
                v-loading='form.loading'
                element-loading-text='正在处理'
                element-loading-spinner='el-icon-loading'
                element-loading-background='rgba(0, 0, 0, 0.8)'>
            <div style='background-color: white; border: solid 1px silver; padding: 10px'>
            <el-form :model='form.data'
                     :rules='form.rules'
                     label-position='left'
                     label-width='100px'
                     ref='dataForm' 
                     @submit.native.prevent>
            <el-form-item label='昵称' prop='NickName'>
                <el-input v-model='form.data.NickName' placeholder='昵称' auto-complete='off' clearable></el-input>
            </el-form-item>
            <el-form-item label='身份证号' prop='IdCard'>
                <el-input v-model='form.data.IdCard' placeholder='身份证号' auto-complete='off' clearable></el-input>
            </el-form-item>
            <el-form-item label='证件类型' prop='certType'>
                <el-input v-model='form.data.certType' placeholder='证件类型' auto-complete='off' clearable></el-input>
            </el-form-item>
            <el-form-item label='真实姓名' prop='RealName'>
                <el-input v-model='form.data.RealName' placeholder='真实姓名' auto-complete='off' clearable></el-input>
            </el-form-item>
            <el-form-item label='头像' prop='AvatarUrl'>
                <el-input v-model='form.data.AvatarUrl' placeholder='头像' auto-complete='off' clearable></el-input>
            </el-form-item>
            <el-form-item label='手机号' prop='phoneNumber'>
                <el-input v-model='form.data.phoneNumber' placeholder='用户手机号' auto-complete='off' clearable></el-input>
            </el-form-item>
            <el-form-item label='生日' prop='birthday'>
                <el-date-picker v-model='form.data.birthday' placeholder='生日' type='datetime'></el-date-picker>
            </el-form-item>
            <el-form-item label='民族' prop='nation'>
                <el-input v-model='form.data.nation' placeholder='民族' auto-complete='off' clearable></el-input>
            </el-form-item>
            <el-form-item label='电话' prop='tel'>
                <el-input v-model='form.data.tel' placeholder='电话' auto-complete='off' clearable></el-input>
            </el-form-item>
            <el-form-item label='电子邮件' prop='email'>
                <el-input v-model='form.data.email' placeholder='电子邮件' auto-complete='off' clearable></el-input>
            </el-form-item>
            <el-form-item label='地址' prop='homeAddress'>
                <el-input v-model='form.data.homeAddress' placeholder='地址' auto-complete='off' clearable></el-input>
            </el-form-item>
            </el-form>
        </div>
        <div slot='footer'>
            <el-button icon='el-icon-close' @click='form.visible = false'>取消</el-button>
            <el-button icon='el-icon-check' @click='save' type='primary'>保存</el-button>
        </div>
    </el-dialog>
</div>
<script type='text/javascript' src='script.js'></script>
</body>
</html>